.hidden {
	display: none;
}

InfiniteArcadeHud {
	&.devcamera {
		display: none;
	}
}

PlayerStatus {
	position: absolute;
	bottom: 25px;
	left: 25px;
}

WeaponStatus {
	position: absolute;
	bottom: 25px;
	right: 25px;
}

InventoryLayoutFlat,
InventoryLayoutBucket {
	width: 100%;
	opacity: 0;
	transition: opacity 0.1s linear;
	
	&.active {
		opacity: 1;
	}
}