.hidden {
	display: none;
}

InfiniteArcadeHud {
	&.devcamera {
		display: none;
	}
}

PlayerStatus {
	position: absolute;
	bottom: 25px;
	left: 25px;
}

WeaponStatus {
	position: absolute;
	bottom: 25px;
	right: 25px;
}

InventoryBuckets {
	width: 100%;
}