PlayerStatus {

	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	width: 320px;
	overflow: hidden;

	.pawnstatus {
		display: block;
		flex-basis: 100%;
		font-size: 20px;
		color: white;
	}
}
