PlayerStatus {

	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	width: 320px;
	overflow: hidden;

	HealthDisplay {
		.numberDisplay {
			background-color: rgba( black, 0.5 );
			border-radius: 8px;
			font-size: 50px;
			color: white;
			padding: 0 0 0 8px;
			margin-right: 25px;
			align-items: center;
		}

		.numberDisplay:first-child {
			padding-right: 8px;
		}

		.armorMult {
			font-size: 16px;
			transform: rotate(-90deg);
		}
	}

	.pawnstatus {
		display: block;
		flex-basis: 100%;
		font-size: 20px;
		color: white;
	}
}
