# remove sbox generated stuff
.intermediate
.codegen

code/*.csproj*
code/obj
code/Properties/launchSettings.json

config/infinitearcade.fgd

# considering the vmaps get downloaded, might not be the best idea to push them
maps/
# map generation
#_bakeresourcecache
#maps/*.vpk
#maps/*.los

# asset browser info
tools_asset_info.bin
tools_thumbnail_cache.bin